---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

{%- assign posts_by_month = site.categories[page.category] | group_by_exp: "item", "item.date | truncate: 7, ''" -%}
  {%- if posts_by_month.size > 0 -%}
    <ul class="post-list">
      {%- for month in posts_by_month -%}
      <li>
        <h3>{{ month | append: "-01" | date: "%B %Y" }}</h3>
        <ul class="post-list">
          {%- for post in month.items -%}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
